services:
    backend:
        build: .
        ports:
            - "5000:8000"
        env_file:
            - .env 
        volumes:
            - .:/app 
            - /app/node_modules 
            - ./public:/app/public 
        restart: unless-stopped
        depends_on:
            - mongo

    mongo:
        image: mongo:6
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

volumes:
    mongo_data:
